# Sphinx documentation
docs/
_build/
_autosummary/

# Distribution / packaging
dist/
src/seismic_rna.egg-info

# Byte-compiled
__pycache__/

# C extensions
*.so

# PyCharm
.idea

# Output files
out/
tmp*/
sim/refs
sim/params
sim/samples
log/
*.log

# macOS
.DS_Store

# Spyder
src/seismicrna/.spyproject
