[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "seismic-rna"
authors = [
    {name="Matty Allan"},
    {name="Yves Martin"},
    {name="Scott Grote"},
    {name="Alberic de Lajarte"},
]
description = "RNA Structure Ensemble Inference via Sequencing, Mutation Identification, and Clustering"
readme = "README.md"
requires-python = ">=3.10"
license = {text = "GPL-3.0-only"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "brotli>=1.0",
    "click>=8.1",
    "cutadapt>=4.4",
    "fastqsplitter>=1.2",
    "matplotlib>=3.6",
    "networkx>=3.1",
    "numpy>=1.23",
    "pandas>=1.5",
    "plotly>=5.11",
    "pyyaml>=6.0",
    "scipy>=1.9",
    "sphinx>=4.5",
    "sphinx-click>=4.4",
    "sphinx-panels>=0.6.0",
    "sphinx-rtd-theme>=1.3.0",
    "sphinxcontrib-blockdiag>=3.0.0",
]
dynamic = ["version"]

[tool.hatch.build.targets.sdist]
exclude = [
  "/.github",
  "/docs",
]

[tool.hatch.build.targets.wheel]
packages = ["src/seismicrna"]

[tool.hatch.version]
path = "src/seismicrna/core/version.py"

[project.scripts]
seismic = "seismicrna.main:cli"

[project.urls]
"Homepage" = "https://github.com/rouskinlab/seismic-rna"
"Bug Tracker" = "https://github.com/rouskinlab/seismic-rna/issues"
